<div class="container mt-5">
  <div class="jumbotron bg-light p-3">
    <h1 class="display-4">About this Angular App</h1>
    <p class="lead">
      To-do lists offer a way to increase productivity, stopping you from
      forgetting things, helps prioritise tasks, manage tasks effectively, use
      time wisely and improve time management as well as workflow.
    </p>
    <hr class="my-4" />
    <p>
      To-do lists are a list of tasks that an individual needs to complete or
      accomplish. Tasks are typically put in order by priority or importance. A
      to-do list can be written on a piece of paper or by utilizing task
      management software.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/" role="button">Use Now</a>
    </p>
  </div>
</div>
